/*-- scss:defaults --*/
$body-bg: #FFFCF9;
//$body-bg: #F4F4F4; //mozilla配色
$link-color: #9E7140;
$link-hover-color: #7A4D20; // 新增：鼠标悬停的链接颜色
$navbar-bg: #F5E6DA;
$navbar-text-color: #3F2D20; // 新增：增强 Navbar 文字可读性
$pagination-color: #3F2D20; // 更深的棕色，确保清晰度
$pagination-focus-color: #FFFFFF;
$pagination-hover-bg: #A87D5D; // 让悬停状态和选中状态更有层次感
$pagination-active-color: #FFFFFF;  
$pagination-active-bg: #9E7140;    
$pagination-active-border-color: #6A4825; // 更深的焦糖色，增强边框层次感
$mark-bg: #FDEFD9; //高亮颜色

// h1, h2, h3, h4, h5, h6 {
//   color: black !important; // 保持标题颜色为黑色
// }
//
// .listing-title {
//   color: black
// }

strong, b {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 700;
}
p {
  font-family: 'Noto Serif SC', 'Songti SC', serif;
  font-size: 1rem;         /* 可选：指定字体大小 */
  line-height: 1.6;        /* 稍大一点更适合中文阅读 */
  color: #000000;          /* 或保持你已有的 black */
}

.column-margin.column-container p {
  margin-bottom: 0;
  font-size: 0.8rem; /* 脚注字体大小 */
}

